$size_small: 48px;
$size_default: 56px;
$size_big: 64px;
$color_blue: #508ffb;
$dark: #000;
$dark_hover: #333;
$dark_active: #777;
$dark_disable: #ccc;

$light: #fff;
$light_hover: #eee;
$light_active: #ccc;
$light_disable: #f7f7f7;
